html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  height: 99%;
  /* Negative indent footer by its height */
  margin: 0 auto -80px;
  /* Pad bottom by footer height */
  padding: 50px 0 60px;
}

/* Set the fixed height of the footer here */
footer {
  height: 60px;
  background-color: #f5f5f5;
}
hr {
  border-top-color: #CCC;
}
#surface {
  height: 100%;
  width: 100%;
}
#surface:-webkit-full-screen {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
#surface2 {
  border: 1px solid #999;
  display: none;
  height: 50%;
  position: absolute;
  right: 5%;
  top: 10%;
  width: 25%;
}
