html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  overflow: hidden;
}
/* Wrapper for page content to push down footer */
#wrap {
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto;
  /* Pad bottom by footer height */
  padding: 0;
}

hr {
  border-top-color: #CCC;
}
#surface {
  height: 100%;
  width: 100%;
}
#surface:-webkit-full-screen {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
#surface2 {
  border: 1px solid #999;
  display: none;
  height: 300px;
  position: absolute;
  right: 5%;
  top: 10%;
  width: 300px;
}
